/* Isto cria uma barra lateral estreita fixada à esquerda da página */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 6rem;
    padding: 2rem 1rem;
    background-color: #008B8B;
    z-index: 1050;
    transition: width 0.1s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1.2);

}
.welcome-text {
    color: white;
}
.nav-link-beat:hover {
    animation: beat 0.5s infinite;
}

@keyframes beat {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}
/* Quando o usuário passa o mouse sobre a barra lateral, ela se expande */
.sidebar:hover {
    width: 16rem;
}
.sidebar-item:hover .nav-link-text {
    color: green;
}

/* Certifique-se de que o conteúdo do navlink não se enrole quando a barra de navegação se contrai */
.sidebar .nav-link {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

/* Corrija a largura dos ícones */
.sidebar .nav-link i {
    width: 2rem;
}

/* Oculte os rótulos do navlink por padrão */
.sidebar .nav-link span {
    visibility: hidden;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

/* Quando a barra lateral é passada com o mouse, revele os rótulos */
.sidebar:hover .nav-link span {
    visibility: visible;
    opacity: 1;
    color: white;
    marginRight: 10px;
}

/* Container para o cabeçalho da barra lateral. Certifique-se de que o conteúdo não se enrole quando
 * a barra lateral é recolhida.
 */
.sidebar-header {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

/* Posicione o cabeçalho relativo ao logo e oculte por padrão */
.sidebar-header h2 {
    opacity: 0;
    margin-left: 1rem;
    margin-bottom: 0;
    transition: opacity 0.1s ease-in-out;
}

/* Revele o cabeçalho quando a barra lateral é alternada */
.sidebar:hover .sidebar-header h2 {
    opacity: 1;
}

/* Posicione o conteúdo relativo à barra lateral recolhida */
.content {
    margin-left: 7rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

.welcome-text{
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 17px;

}
.sidebar-info{
    vertical-align: middle;
    font-family:Arial, Helvetica, sans-serif;
    margin: left 30px; 
    font-size: 17px;
}
.text-titulo{
    font-family:'Poppins', sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.text-semacesso{
    font-family:'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.text-devolucao{
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 25px;
    font-family:'Poppins', sans-serif; 
    font-weight: bold;
    color: black;
    text-align: left;
    margin-bottom: 20px;

}

/* Estilos para a tabela */
    .table-font {
        font-family: Calibri, sans-serif; /* Aqui você pode definir a fonte desejada */
    }
    

.text-button{
    border-width: 3px;
    font-size: 14px;
    background-color:mediumturquoise;
    color: black;
    margin-left: 43%;
    margin-top: 30px;
    padding-top: 11px;
    font-family: 'Poppins', sans-serif;
    box-shadow:hotpink;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1.2);
    transition: 300ms;

}   
.text-button:hover{
    transform: scale(0.80);
}
